.ptopSection {
  display: block;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.ptopSection .profileBanner {
  width: 100%;
  height: 30vh;
}

.ptopSection .profileBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
  position: relative;
}

.ptopSection .profileBanner::after {
  content: " ";
  width: 100%;
  height: 30vh;
  position: absolute;
  object-fit: cover;
  border-radius: 1em;
  background: linear-gradient(transparent 50%, rgba(11, 11, 11, 0.477));
  left: 0;
  right: 0;
  z-index: 1;
}

.ptopSection .profileAvatar {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 30vh;
  left: 2em;
  bottom: -25%;
  display: flex;
  align-items: baseline;
  gap: 2em;
}
.ptopSection .profileAvatar img {
  width: 7em;
  height: 7em;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(76, 76, 98, 0.334);
}

.ptopSection .user-name {
  font-size: 1.15em;
  color: var(--color-text);
}

.ptopSection .user-bio {
  font-size: 0.95em;
  color: var(--color-text-primary);
}

.socialLinks {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 2em 0;
}

.socialLinks li {
  font-size: 1.5em;
  color: var(--color-link);
}
.socialLinks li a {
  color: var(--color-link);
}
