.editProf {
    box-sizing: border-box;
}

.editProf .bannerContainer {
  display: flex;
  gap: 1em;
  padding: 1em 0;
  border-bottom: 1px solid var(--color-border-dark);
  border-radius: 1em;
}

.editProf .avatarContainer {
  display: flex;
  gap: 1em;
  padding: 1em 0;
  border-bottom: 1px solid var(--color-border-dark);
  border-radius: 1em;
}

.editProf label {
  color: var(--color-text-secondary);
}

.editProf .preBannerList {
  border-left: 1px solid var(--color-border-dark);
  width: 100%;
  border-radius: border-box;
  overflow-x: auto;
  display: flex;
  gap: 1em;
  padding: 0 1em;
  flex-grow: 1;
  align-items: center;
}

.editProf .preAvatarList {
  border-left: 1px solid var(--color-border-dark);
  width: 100%;
  border-radius: border-box;
  overflow-x: auto;
  display: flex;
  gap: 1em;
  padding: 0 1em;
  flex-grow: 1;
  align-items: center;
}

.editProf .preBannerList img {
  width: 7em;
  height: 4em;
  border: 1px solid var(--color-border-dark);
  border-radius: 0.5em;
  object-fit: contain;
}

.editProf .preAvatarList img {
  width: 4em;
  height: 4em;
  border: 1px solid var(--color-border-dark);
  border-radius: 100%;
  object-fit: contain;
}

.editProf .bannerPrev {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9em;
}

.editProf .avatarPrev {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9em;
}

.editProf .bannerPrev img {
  width: 7em;
  height: 4em;
  border: 4px solid var(--color-accent-dark);
  border-radius: .5em;
  object-fit: contain;
}

.editProf .avatarPrev img {
  width: 4.5em;
  height: 4.5em;
  border: 4px solid var(--color-accent-dark);
  border-radius: 100%;
  object-fit: contain;
}

.editProf input, .editProf textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid var(--color-border-dark);
  border-radius: 1em;
  margin: 0.15em 0;
  font-size: 0.95em;
  background: var(--color-surface);
  color: var(--color-text-primary);
}

.editProf .flexContainer {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
}

.editProf .flexContainer div {
    flex-grow: 1;
}

.editProf > div {
    margin: 1em 0;
}

.editProf button {
    all: unset;
    padding: .65em 1.5em;
    border-radius: .75em;
    background: var(--color-text-secondary);
    color: white;
    font-weight: 900;
    font-size: 1.15em;
    margin-right: 1em;
}

.editProf .clearBtn {
    border: 1px solid var(--color-danger);
    background: transparent;
    color: var(--color-danger);
}