nav {
  /* height: calc(100vh - max(4em, min(60px))); */
  height: 100vh;
  width: 100%;
  background: var(--color-surface);
  border-right: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
}

nav ul {
    height: 100%;
    overflow-y: scroll;
    height: calc(100vh - max(4em, min(60px)));
    width: 100%;
}

nav ul::-webkit-scrollbar {
  display: none;
}

nav ul li {
  margin: 1em;
  padding: 1em;
  list-style: none;
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
}

nav ul li a {
  all: unset;
  display: flex;
  gap: 1em;
  align-items: center;
  width: 100%;
}

nav ul li .icon {
  color: var(--color-text-muted);
  width: 20px;
  height: 20px;
}
nav ul li:hover {
  border-bottom: 1.25px solid var(--color-text-muted);
  color: var(--color-text);
}
nav ul li.active:hover {
  border-bottom: 0;
}
nav ul li.active {
  font-weight: 800;
  color: var(--color-text-primary);
  border-bottom: 1px solid rgba(216, 216, 237, 0.505);
}
nav ul li.active .icon {
  color: var(--color-text-primary);
  width: 30px;
  height: 30px;
}

nav ul li.user .icon {
  border: 1px solid var(--color-border);
  border-radius: 100%;
  padding: .1em;
  object-fit: cover;
}

@media only screen and (min-width: 748px) {
  nav ul {
    overflow: hidden;
  }
}

@media only screen and (max-width: 748px) {
  nav ul li .icon {
    width: 1.15em;
    height: 1.15em;
  }

  nav ul li.active .icon {
    width: 1.35em;
    height: 1.35em;
  }

  nav.hidden {
    display: none;
  }
}
