.pageTitle {
  width: 100%;
  padding: 2em 2em 2em 0;
  box-sizing: border-box;
}
.pageTitle strong {
    font-size: 1.3em;
    color: var(--color-text-secondary);
    position: relative;
}
.pageTitle strong::after {
    content: '\276F';
    position: absolute;
    right: -30%;
    top: -3%;
}
.subMenuTitle {
  width: 100%;
  padding: 1.5em 2em;
  box-sizing: border-box;
}
.subMenuTitle strong {
  font-size: 1em;
  color: var(--color-text-muted);
}
